@import '../../assets/scss/main';

.about {
  text-align: center;

  &-heading {
    @include heading();
    margin-bottom: 2rem;
  }

  &-subheading {
    @include subheading();
  }

  &-text {
    @include text();
  }

  margin-bottom: 15vh;
}

.skills {
  &-grid {
    @include container();
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 3rem;
    justify-items: center;
    align-items: center;
    margin-bottom: 7vh;
    justify-content: center;
    padding: 7rem;

    @media only screen and (max-width: 900px) {
      padding: 5rem;
    }
    @media only screen and (max-width: 500px) {
      padding: 3rem;
    }
  }

  &-icon-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    text-align: center;
    transition: all 0.7s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &-text {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    background: rgba($blue-shade1, 0.6);
    padding: 0 2px;
  }
}
