@import 'colors.scss';

@mixin heading() {
  font-size: 7rem;
  margin-top: 7vh;
  color: $main-blue;
  font-weight: 300;
  margin-bottom: 0;
}

@mixin subheading() {
  color: $yellow;
  margin: 3rem 0 4rem;
  border-bottom: 5px solid $blue-shade2;
  display: inline-block;
  font-weight: 400;
  letter-spacing: -2px;
}

@mixin text() {
  width: 80%;
  margin: 0 auto;
  font-size: 2.3rem;
  font-weight: 400;
  color: rgba($color: #000000, $alpha: 0.6);
  line-height: 1.8;
}

@mixin links() {
  &:link,
  &:visited {
    background-color: $white;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    color: $blue-shade2;
    font-weight: 700;
  }

  &:hover,
  &:active {
    box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.4);
    transform: rotate(5deg) scale(1.3);
  }
}
