@import '../../assets/scss/main.scss';

.menu-btn {
  position: fixed;
  z-index: 200;
  left: 35px;
  top: 3rem;
  cursor: pointer;
  display: none;
  transition: all 0.5s ease-out;

  @media only screen and (max-width: 715px) {
    display: block;
    left: 5rem;
  }

  .btn-line {
    height: 4px;
    margin: 0 0 5px 0;
    border-radius: 10px;
    transition: all 0.5s ease-out;

    &:hover {
      background: $blue-shade2;
    }

    &:nth-child(1) {
      width: 5rem;
    }

    &:nth-child(2) {
      width: 4rem;
    }

    &:nth-child(3) {
      width: 5rem;
    }

    @media only screen and (max-width: 715px) {
      background: $main-blue;
    }
  }
}

.open {
  .btn-line {
    background: $white;
    width: 5rem;
  }

  transform: rotate(180deg);

  .btn-line {
    // Line 1 - Rotate
    &:nth-child(1) {
      width: 5rem;
      transform: rotate(45deg) translate(7px, 6px);
    }

    // Line 2 - Hide
    &:nth-child(2) {
      opacity: 0;
    }

    // Line 3 - Rotate
    &:nth-child(3) {
      width: 5rem;
      transform: rotate(-45deg) translate(7px, -5px);
    }
  }
}
