@import '../../assets/scss/main';

.contact {
  text-align: center;
  margin-bottom: 20vh;

  &-heading {
    @include heading();
  }

  &-text {
    @include text();
    margin-bottom: 7rem;
    margin-top: 2rem;
  }

  &-container {
    @include container();
    padding: 5rem;

    @media only screen and (max-width: 790px) {
      padding: 3rem;
    }
  }

  &-medium {
    @include links();
    margin: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    display: inline-block;

    @media only screen and (max-width: 570px) {
      margin: 3rem 0.5rem;
    }
  }

  &-links {
    font-size: 3rem;
    margin-left: 2rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    color: $blue-shade2;
    font-weight: 700;

    @media only screen and (max-width: 570px) {
      margin-left: 1rem;
      font-size: 2.2rem;
    }

    @media only screen and (max-width: 350px) {
      margin-left: 0.5rem;
    }
  }

  &-phone {
    font-size: 3rem;
    color: $yellow;
    font-weight: 700;
    margin-left: 2rem;

    @media only screen and (max-width: 570px) {
      margin-left: 1rem;
      font-size: 2.2rem;
    }

    @media only screen and (max-width: 350px) {
      margin-left: 0.5rem;
    }
  }
}
