@import '../../assets/scss/main';

.contact {
  text-align: center;
  margin-bottom: 20vh;

  &-heading {
    @include heading();
  }

  &-subheading {
    @include subheading();
    border: none;
  }

  &-container {
    @include container();
    padding: 5rem;
  }

  &-medium {
    @include links();
    margin: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    display: inline-block;
  }

  &-links {
    font-size: 3rem;
    margin-left: 2rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    color: $blue-shade2;
    font-weight: 700;
  }

  &-phone {
    // display: block;
    font-size: 3rem;
    color: $yellow;
    font-weight: 700;
    margin-left: 2rem;
  }
}
