@import '../assets/scss/main.scss';

.home {
  text-align: center;

  &-heading {
    @include heading();
    margin-bottom: 1rem;
  }

  &-text {
    @include text();

    &:not(:first-of-type) {
      margin-top: 3rem;
    }
  }

  &-links {
    @include links();
  }
}

.tags {
  color: $yellow;
  font-weight: 700;
}
