@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');
@import '../assets/scss/main.scss';

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  // background-attachment: fixed;
  // background-size: cover;
  height: 100%;
  background: $white;

  @media only screen and (max-width: 1000px) {
    font-size: 55%;
  }

  @media only screen and (max-width: 800px) {
    font-size: 50%;
  }

  @media only screen and (max-width: 600px) {
    font-size: 46%;
  }
  @media only screen and (max-width: 450px) {
    font-size: 40%;
  }
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  letter-spacing: -0.1rem;
  margin-bottom: 2rem;
  margin-top: 0;
}

h1 {
  font-size: 4.6rem;
  line-height: 1.2;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
}

h3 {
  font-size: 2.8rem;
  line-height: 1.3;
}

h4 {
  font-size: 2.2rem;
  letter-spacing: -0.08rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.8rem;
  letter-spacing: -0.05rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4;
}

.bold {
  font-weight: 600;
}

@font-face {
  font-family: 'icomoon';
  src: url('../assets/fonts/icomoon.ttf?xries') format('truetype'),
    url('../assets/fonts/icomoon.woff?xries') format('woff'),
    url('../assets/fonts/icomoon.svg?xries#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
