@import '../../assets/scss/main';

.projects {
  text-align: center;
  height: 100%;

  &-heading {
    @include heading();
    margin-bottom: 2rem;
  }

  &-subheading {
    @include subheading();
  }

  &-img {
    width: 100%;
    display: block;

    box-shadow: 3px 6px 10px rgba($color: #000000, $alpha: 0.3);
  }

  &-text {
    @include text();
    margin: 2rem auto;
    width: 100%;
    font-size: 1.6rem;

    @media only screen and (max-width: 800px) {
      font-size: 2rem;
    }
  }

  &-container {
    @include container();
    margin-top: 6rem;
    padding: 4rem;

    @media only screen and (max-width: 1000px) {
      padding: 3rem;
      // margin-top: 10vh;
    }

    @media only screen and (max-width: 500px) {
      padding: 2rem;
    }
  }

  &-link {
    @include links();
    margin-top: 3rem;
    font-size: 2.5rem;
  }
}
