@import '../../assets/scss/main';

.projects {
  text-align: center;
  height: 100%;
  &-heading {
    @include heading();
    margin-bottom: 2rem;
  }

  &-subheading {
    @include subheading();
  }

  &-img {
    width: 100%;
    display: block;
  }

  &-text {
    @include text();
    margin: 2rem auto;
    width: 100%;
    font-size: 1.6rem;
  }

  &-container {
    @include container();
    margin-top: 10vh;
    padding: 4rem;
  }

  &-link {
    @include links();
    margin-top: 3rem;
    font-size: 2.5rem;
  }
}
